# Virtual Environment
venv/
.venv/
env/
env.bak/

# Cache and compiled Python files
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
*.egg

# Editors and IDE 
# PyCharm
.idea/
*.iml
# Sublime Text
*.sublime-project
*.sublime-workspace

# Secrets
.env
*.env
!*.env.example

# logs 
*.log
logs/

# OS files
# macOS
.DS_Store
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
