# Виртуальное окружение
venv/
.venv/
env/
env.bak/

# Кэш и компилированные файлы Python 
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
*.egg

# Редакторы и IDE 
# PyCharm
.idea/
*.iml
# Sublime Text
*.sublime-project
*.sublime-workspace

# Секреты
.env
*.env
!*.env.example

# Логи 
*.log
logs/

# Файлы ос
# macOS
.DS_Store
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
